
h1 {
    padding: 2rem 0;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .tooltip img {
        width: 2rem;
    }

    .tooltip img:hover {
        opacity: 0.7;
        cursor: pointer;
    }

.share-tooltip {
    justify-content: center;
}

.share-tooltip li {
    padding: 5px;
    display: inline-flex;
    align-items: center;
    height: 30px;
    border: 1px solid var(--light-gray-color);
    border-left: none;
}

    .share-tooltip li:first-child {
        border-left: 1px solid var(--light-gray-color);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .share-tooltip li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.article-stats {
    text-align: center;
}

    .article-stats img {
        width: 1.2rem;
        padding: 0 0.5rem;
    }

#tooltip-author-image {
    width: 3rem;
    padding: 0 0.6rem;
}

.tooltip-topic {
    text-transform: uppercase;
    color: black;
}

article a {
    border-bottom: 2px solid var(--accent-color);
}

    article a:hover {
        color: var(--accent-color);
        text-decoration: none;
    }


