
/*------------ generic rules------------*/

:root {
    --accent-color: rgb(21, 106, 163);
    --dark-gray-color: rgb(50, 50, 50);
    --medium-gray-color: rgb(100, 100, 100);
    --light-gray-color: rgb(200, 200, 200);
}

* {
    font-family: ProximaNovaCond, sans-serif;
    color: inherit;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: underline;
    }

/*------------ nav styles ------------*/

.nav {
    padding-left: 1rem;
    padding-right: 1rem;
}

    .nav li {
        display: inline;
    }

header a:hover {
    text-decoration: none;
}

.partners-nav {
    background-color: black;
    border-bottom: 4px solid var(--accent-color);
}

    .partners-nav li {
        font-weight: normal;
        font-stretch: condensed;
    }

        .partners-nav li:hover {
            background-color: var(--dark-gray-color);
        }

.nav-icon {
    height: 3.5rem;
}

#nav-bar-logo {
    width: 10rem;
}

.nav-logo-search {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

    .nav-logo-search li {
        vertical-align: middle;
    }

.nav-bar li:hover {
    color: var(--accent-color);
}

.nav-bar .active {
    background-color: var(--accent-color);
    color: white;
}

    .nav-bar .active:hover {
        color: white;
    }

/*------------ footer styles ------------*/

footer {
    text-align: center;
}

.subscribe {
    background-color: var(--light-gray-color);
}

#subscribe-logo {
    width: 7rem;
}

#email-input {
    border: none;
    outline: none;
    background-color: var(--light-gray-color);
    border-bottom: 1px solid black;
    text-align: center;
    width: 20rem;
    max-width: 100%;
}

    #email-input:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }

#subscribe-button {
    background-color: var(--medium-gray-color);
    border: none;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    outline: none;
}

    #subscribe-button:hover {
        background-color: var(--dark-gray-color);
    }

#terms {
    margin-top: 1.5rem;
}

.site-footer {
    background-color: var(--dark-gray-color);
}

.nav-social-icons img {
    width: 2rem;
}

    .nav-social-icons img:hover {
        opacity: 0.7;
        cursor: pointer;
    }

.partner-icons img {
    width: 1.5rem;
    filter: invert(60%);
}

/*------------ common padding ------------*/

.nav li,
.partners-nav,
.grid-item li,
.subscribe li,
#email-input,
.site-footer li {
    padding: 0.3rem;
}

article p, .subscribe {
    padding: 1rem;
}

.nav-social-icons li {
    padding: 0;
}

/*------------ color styles ------------*/

.light-gray {
    color: var(--light-gray-color);
}

.medium-gray {
    color: var(--medium-gray-color);
}

.dark-gray {
    color: var(--dark-gray-color);
}

.accent-color {
    color: var(--accent-color);
}

/*------------ font styles ------------*/

.bold, .block-text, .text-lg, .text-xl {
    font-weight: bold;
}

.block-text {
    text-transform: uppercase;
}

.text-xl {
    font-size: 28px;
}

.text-lg {
    font-size: 20px;
}

.text-sm, .block-text {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
    font-weight: 100;
}

/*------------ separators and floating ------------*/

.nav-separator {
    margin-left: 0.5rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-left: 1px solid var(--light-gray-color);
}

.div-separator {
    margin: 1rem 0;
    border-bottom: 1px solid var(--light-gray-color);
}

.no-margin {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

/*------------ responsive styles ------------*/

main {
    width: 90%;
    margin: 0 auto 4rem auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.5rem;
    padding-bottom: 2rem;
}

aside {
    padding-top: 4rem;
}

article {
    padding: 2rem 0;
    line-height: 1.7rem;
}

    article p {
        font-family: ElizabethSerif, Georgia, serif;
    }

@media screen and (min-width: 700px) {
    .grid-container {
        grid-template-columns: 33% 33% 33%;
    }

    .main-container {
        border-right: 1px solid var(--light-gray-color);
        margin-right: 35%;
        padding-bottom: 2rem;
        padding-right: 2rem;
    }

    #aside-separator {
        display: none;
    }

    aside {
        box-sizing: border-box;
        position: absolute;
        right: 5%;
        padding-left: 1rem;
        max-width: 30%;
    }

    .site-footer li {
        padding: 1rem;
    }

    .nav-social-icons li {
        padding: 0;
    }
}

@media screen and (min-width: 1000px) {
    .grid-container {
        width: 80%;
        margin: 0 auto;
    }

    article {
        margin-left: 3rem;
    }

    .site-footer {
        padding: 2rem;
    }
}
